@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #FCE38A;
    font-family: 'Ubuntu', sans-serif;
}

::selection {
    background: #F08A5D;
}

hr {
    border-style: solid;
    color: #A84448;
    width: 90%;
}

img {
    height: 30vh;
    width: 30vh;
}

h1 {
    font-weight: bold;
}